@import "../../../assets/variables.scss";

:host {
    z-index: 100;
    height: $header-height;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding: .3em 5%;
    background: $pink-gradient;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        color: #fffc;
        height: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
    }

    .buttons {
        justify-content: flex-end;
        gap: 1rem;
    }

}

i {
    font-size: 10px;
}

@media screen and (min-width: 767px) {

    :host {
        height: $header-height-desktop;
    }


}