<ion-header class="header-pink">
  <ion-toolbar>
    <img slot="start" alt="Silhouette of a person's head" src="assets/icon/icon-white.svg" />
    <ion-title color="light">Notatki</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/menu" color="light">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content appHideScrollButton scrollEvents="true" appSwipePage>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-reorder-group *ngIf="notes && notes.length" #reorderRef disabled="true" (ionItemReorder)="doReorder($event)">
    <ion-reorder *ngFor="let note of notes; index as index" class="tile-container">
      <app-note
        (appReorderToggle)="reorderOn()"
        [note]="note"
        [index]="index"
      ></app-note>
    </ion-reorder>
  </ion-reorder-group>

  <!-- buttons -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="hide-scroll-button">
    <ion-fab-button color="secondary" routerLink="/add-note">
      <ion-icon name="duplicate" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" [ngClass]="{reorder: !reorder}">
    <ion-fab-button color="success" (click)="reorderOff()">
      <ion-icon name="repeat-sharp" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>