:host {
    z-index: 100;

    .menu {
        font-size: 16px;

        .item:not(.back) {
            font-weight: normal;
            

            p {
                padding-right: .6em;
            }
            
            .back {
                font-weight: bold;
                font-size: 20px;
            }

            .icon {
                font-size: 18px;
            }
        }

    }
}

@media screen and (min-width: 767px) {
    .menu {
        .item:not(.back) {
            cursor: default;
            &:hover {background-color: #080a0bda}
        }
    }
}


