<ion-header class="header-pink">
  <ion-toolbar>
    <img slot="start" alt="Silhouette of a person's head" src="assets/icon/icon-white.svg" />
    <ion-title>Wybierz użytkownika</ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button defaultHref="/start" size="large"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="users && users.length">
    <button
      *ngFor="let user of users; let i = index"
      (click)="chooseUser(user)"
      class="user-tile"
    >
      <span>{{user.nickname}}</span>

      <ion-icon [name]="user.online?'globe-outline':'server-outline'" size="large" color="light"></ion-icon>

    </button>
  </ng-container>

  <!-- <div *ngIf="!users || !users.length" class="tile-container user">
    <span>brak</span>
  </div> -->

  <ion-button class="ion-margin-top" type="button" expand="block" size="large" color="tertiary" routerLink="/register">Nowy użytkownik</ion-button>
  <ion-button class="ion-margin-top" type="button" expand="block" color="tertiary" routerLink="/login">Zaloguj</ion-button>
  
  <!-- ERRORS -->
  <ion-text *ngIf="message" class="form-message" [color]="messageErr?'danger':'success'">
    <p>{{message}}</p>
  </ion-text>

</ion-content>
