:host {
    padding: .5em 10%;
    width: 100%;
    background: linear-gradient(4deg, #7B25FB, #AC38FA);
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 5%;
    font-size: 25px;
    color: #fffc;

    * {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    .buttons {
        justify-content: flex-end;
        gap: 1rem;
    }

}